<div layout="column" flex="80" flex-offset="10">

  <div ng-hide="$ctrl.hasPlaces()">
    <span>:c( Sorry, there were no places found that fit your criteria.</span>
  </div>

  <md-card ng-show="$ctrl.hasPlaces()">

    <md-card-header layout-align="center"><h1>Near you...</h1></md-card-header>

    <md-card-content
      layout="column"
      flex="70"
      flex-offset="15"
      ng-repeat="place in $ctrl.places"
    >
      <place place="place" on-select="$ctrl.makeActivity($event)"></place>
    </md-card-content>

    <md-card-actions layout="row" layout-align="center" ng-if="$ctrl.pageToken">
      <md-button class="md-primary md-raised" ng-click="$ctrl.nextPage()">
        More Places
      </md-button>
    </md-card-actions>

  </md-card>

</div>
