.navbar {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.navbar-default {
  .navbar-brand {
    color: colors(brand, base);
    font-size: 32px;
    left: 15px;
    position: relative;

    &:hover,
    &:focus {
      color: colors(brand, hover);
      text-decoration: none;
    }
  }
}

.navbar-right {
  li {
    border-bottom: 1px solid colors(nav, borders);
    padding: 5px 0;
  }

  .userNav-sm {
    display: block;
  }

  .userNav-md {
    display: none;
  }
}

@media (min-width: $screen-sm) {
  .navbar-right {
    li {
      border: 0;
    }

    .userNav-sm {
      display: none;
    }

    .userNav-md {
      display: block;
    }

  }

}
