@import 'navbar';
@import 'filter-bar';


body {
  background: colors(app, base);
}

.app {
  color: colors(type, base);
  font: 16px 'Roboto', Arial, sans-serif;

  main {
    padding-top: 100px;
  }

}

a {
  color: colors(link, base);

  &:hover {
    color: colors(link, hover);
  }
}
