.navbar {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.navbar-default {
  .navbar-brand {
    color: colors(brand, base);
    font-size: 32px;
    transition: color .5s;

    &:hover,
    &:focus {
      color: colors(brand, hover);
      text-decoration: none;
      transition: color .25s;
    }
  }
}

.navbar-right {
  li {
    border-bottom: 1px solid colors(nav, borders);
    padding: 5px 0;
  }

  a {
    transition: color .5s;

    &:hover {
      transition: color .25s;
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .navbar-default {
    .navbar-brand {
      left: 0;
    }
  }

  .navbar-right {
    li {
      border: 0;
      padding: 0;
    }
  }

}
