.app-scroll {
  bottom: 50%;
  color: colors(text, base);
  font-size: 18px;
  position: fixed;
  right: .25em;
  transition: opacity .5s;
  z-index: 100;

  &.active {
    opacity: 1;
    transition: color .5s, opacity .25s;
    visibility: visible;

    &:hover,
    &:focus:hover {
      color: colors(text, hover);
      transition: color .25s;
    }

    &:focus {
      color: colors(text, base);
    }
  }

  &.inactive {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (min-width: $screen-sm) {
  .app-scroll {
    bottom: 50%;
    right: 1em;
  }
}
