.app-scroll {
  bottom: 15px;
  color: colors(text, base);
  font-size: 18px;
  position: fixed;
  right: 15px;
  z-index: 100;

  &:hover {
    color: colors(text, hover);
  }

  &:focus {
    color: colors(text, base);
  }

  &:hover:focus {
    color: colors(text, hover);
  }

  &.active {
    opacity: 1;
    transition: opacity 1s;
    visibility: visible;
  }

  &.inactive {
    opacity: 0;
    visibility: hidden;
  }
}
