.app-scroll {
  bottom: 0;
  color: colors(text, base);
  font-size: 18px;
  position: fixed;
  right: 0;
  z-index: 100;

  &:hover {
    color: colors(text, hover);
  }

  &:focus {
    color: colors(text, base);
  }

  &:hover:focus {
    color: colors(text, hover);
  }

  &.active {
    opacity: 1;
    transition: opacity 1s;
    visibility: visible;
  }

  &.inactive {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (min-width: $screen-sm) {
  .app-scroll {
    bottom: 1em;
    right: 1em;
  }
}
