// mobile
.filters {
  // margin: 5px 0;
  li {
    border-bottom: 1px solid colors(borders, base);
    padding: 5px 0;
  }

  li:last-child {
    border-bottom: 0;
  }
}

// @media beyond mobile
@media (min-width: $grid-float-breakpoint) {
  .filters {
    background-color: rgb(0,0,0);
    border-top: 1px solid rgb(30,30,30);
    font-size: 10px;
    height: 20px;
    left: 0;
    margin: 0;
    position: fixed;
    text-align: center;
    top: 50px;
    width: 100%;
  }

  .filters-inner {
    display: inline-block;
    height: 100%;

    ul {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    li {
      border-bottom: 0;
      padding: 0 1em;
    }
  }
}
