.navbar {
  background-color: colors(nav, base);
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

.navbar__brand {
  color: colors(brand, base);
  font-size: 32px;
  left: 15px;
  position: relative;
  top: 5px;

  &:hover {
    color: colors(brand, hover);
    text-decoration: none;
  }
}

.navbar__collapse {

  &.navbar-collapse {
    border-color: colors(borders, base);
  }
}

.navbar__right {
  li {
    border-bottom: 1px solid colors(borders, base);
    padding: 5px 0;
  }

  .userNav-sm {
    display: block;
  }

  .userNav-md {
    display: none;
  }
}

@media (min-width: $grid-float-breakpoint) {

  .navbar__brand {
    left: 0;
  }

  .navbar__right {

    li {
      padding: 0;
    }

    .userNav-sm {
      display: none;
    }

    .userNav-md {
      display: block;
    }

  }

}
