.navbar {
  background-color: colors(header, base);
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.navbar__brand {
  color: colors(brand, base);
  font-size: 32px;
  left: 15px;
  position: relative;
  top: 5px;

  &:hover {
    color: colors(brand, hover);
    text-decoration: none;
  }
}

.navbar__collapse {

  &.navbar-collapse {
    border-color: colors(borders, base);
  }
}

.navbar-header {
  .navbar-toggle {
    border-color: colors(toggle, borders);

    &:hover {
      background-color: colors(toggle, hover);
    }
  }
}

.navbar-toggle {
  .icon-bar {
    border-color: colors(toggle, borders);
  }
}

.navbar__right {
  li {
    border-bottom: 1px solid colors(borders, base);
    padding: 5px 0;
  }

  .userNav__sm {
    display: block;
  }

  .userNav__md {
    display: none;
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar__container-fluid {
    padding-top: 5px;
  }

  .navbar__right {
    .userNav__sm {
      display: none;
    }

    .userNav__md {
      display: block;
    }

  }

}
