.footer {
  bottom: .5em;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  position: fixed;
  right: .5em;

  a {
    color: colors(text, base);
    outline: 0;
    text-decoration: none;
    transition: color .5s;

    &:hover {
      color: colors(text, hover);
      transition: color .25s;
    }

    + .tooltip {
      background: colors(footer, base);

      .tooltip-inner {
        background: colors(footer, base);
      }
   }
  }

}

@media screen and (min-width: $screen-sm) {
  .footer {
    bottom: 1em;
    right: 1em;
  }
}
