.footer {
  background-color: colors(footer, base);
  bottom: 0;
  font-family: $font-family-head;
  height: 30px;
  left: 0;
  position: fixed;
  width: 100%;

  &-backdrop {
    background: url('../scss/app/powered-by-google.png') no-repeat center;
    background-color: colors(footer, base);
    height: 30px;
    position: relative;
  }

  &-copyright {
    background-color: colors(footer-copyright, base);
    border-radius: 3px 3px 0 0;
    bottom: 0;
    color: colors(text, head);
    font-size: $font-size-small;
    position: absolute;
    text-align: center;
    transition: bottom $transition-off;
    width: 100%;

    span {
      padding: .5em;
    }

  }

  a {
    color: colors(text, base);
    outline: 0;
    position: absolute;
    right: 1em;
    text-decoration: none;
    top: 50%;
    transform: translateY(-50%);
    transition: color $transition-off;
    z-index: 30;


    &:hover {
      color: colors(text, hover);
      transition: color $transition-on;

      + .footer-copyright {
        bottom: 30px;
        transition: bottom $transition-on;
      }
    }
  }
}


@media screen and (min-width: $screen-md) {
  .footer {
    height: 45px;

    &-backdrop {
      background: url('../scss/app/powered-by-google@2x.png') no-repeat center;
      background-color: colors(footer, base);
      height: 45px;
    }

    &-copyright {
      font-size: $font-size-base;
    }

    a:hover + .footer-copyright {
      bottom: 45px;
    }
  }
}
