.location {
  list-style: none;
  padding: 0;

  a {
    color: colors(text, base);
    display: block;
    outline: 0;
    position: relative;
    transition: color $transition-off;

    &:hover,
    &:focus {
      color: colors(text, hover);
      text-decoration: none;
      transition: color $transition-on;
    }
  }

  button {
    background: transparent;
    border: 0;
    bottom: 0;
    color: colors(text, base);
    padding: .5em;
    position: absolute;
    right: 0;
    transition: color $transition-off;
  }

  form {
    position: relative;
  }

  input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    border-color: colors(borders, light);
    font-size: $font-size-large;
    text-align: center;
    transition: border-color $transition-off;
    width: 100%;

    &:focus {
      border-color: colors(borders, focus);
      outline: none;
      transition: border-color $transition-on;
    }

    &.ng-valid ~ button {
      color: colors(text, hover);
      transition: color $transition-on;
    }
  }

  label {
    float: right;
    visibility: hidden;
  }

  li {
    display: block;
    padding: 15px;
    position: relative;

    &:last-child {
      border: 0;
    }
  }
}



@media screen and (min-width: $screen-sm) {
  .location {
    list-style: none;

    a {
      display: inline;
    }

    button {
      padding: .25em;
    }

    input {
      font-size: $font-size-base;
      text-align: left;
      width: 10em;
    }

    label {
      float: left;
    }

    li {
      display: inline-block;
      padding: 0 15px;
    }
  }
}
