.place {
  &:hover {
    cursor: pointer;

    & .place-name {
      color: colors(text, hover);
    }
  }
}

.place-name {
  color: colors(text, head);
  font-size: 24px;
}

.place-rating {
  height: 100px;
  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25%;
  }
}

.place-type {
  padding: 1em 0 0 0;

  span {
    color: colors(text, head);
    font-size: 10px;
    text-transform: uppercase;
    margin-right: 1em;
  }
}
