.places-next {
  color: colors(text, base);

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:hover,
  &:hover:focus {
    color: colors(text, hover);
  }

  &:focus {
    color: colors(text, base);
  }

}
