.places {
  &-error {
    font-size: $font-size-large;
    padding: 2em 0;
  }

  &-next {
    color: colors(text, base);
    padding: 1em;

    &:focus,
    &:hover {
      text-decoration: none;
    }

    &:hover,
    &:hover:focus {
      color: colors(text, hover);
    }

    &:focus {
      color: colors(text, base);
    }

  }
}
