.place {
  border: 1px solid colors(borders, light);
  margin-bottom: 50px;
  padding: 10px 0;
  text-align: center;
}

.place-name {
  color: colors(text, head);
  font-size: $font-size-large;
  line-height: 1.5;
  transition: color .5s;
}

.place-image--wrapper {
  width: 100%;
}

.place-image {
  margin: 0 auto;
}

.place-image--absent {
  height: 100px;
  position: relative;
  width: 100%;

  p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

.place-hours,
.place-rating,
.place-vicinity {
  margin: .5em 0;
}

.place-type {
  margin: 0;
  padding: 0;


  li {
    display: inline-block;
    font-size: 8px;
    list-style: none;
    margin: 0 1em 0 0;
    text-transform: uppercase;
  }
}

.place-add {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}

.place-add:hover {
  cursor: pointer;

  ~ .place-details .place-name {
    color: colors(text, hover);
    transition: color .25s;
  }
}

.place-delete {
  position: absolute;
  right: .5em;
  top: .25em;
  transition: color .5s;
  z-index: 99;

  &:hover {
    color: colors(text, danger);
    cursor: pointer;
    transition: color .25s;
  }
}

@media screen and (min-width: $screen-sm) {
  .place {
    border: 0;
    border-bottom: 1px solid colors(borders, light);
    margin-bottom: 75px;
    padding: 10px 0 0;
    text-align: left;
  }

  .place-image {
    margin: 0 auto;
    max-height: 125px;
    max-width: 100%;
  }

  .place-image--wrapper {
    margin: 10px 0 0;
    max-height: 125px;
    overflow: hidden;
  }

  .place-name {
    font-size: $font-size-h4;
    margin-top: 0;
  }

  .place-rating {
    text-align: right;
  }

  .place-type {
    margin: 15px 0 0;

    li {
      font-size: 10px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
