.preset {
  border-bottom: 1px solid colors(borders, light);
  padding: 5px 0;

  a {
    color: colors(text, base);
    display: block;
    padding: 10px 15px;
    position: relative;
    transition: color .5s;

    &:hover,
    &:focus {
      color: colors(text, hover);
      text-decoration: none;
      transition: color .5s;
    }
  }
}

.last {
  .preset {
    border-bottom: 0;
  }
}


@media screen and (min-width: $screen-sm) {
  .preset {
    border-bottom: 0;
    display: inline-block;
    padding: 0 1.5em;

    a {
      padding: 0;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .preset {
    padding: 0 2em;
  }
}
