.stop {
  border-bottom: 1px solid colors(borders, light);
  margin-bottom: 100px;
}

.stop-img {
  padding-bottom: 1em;
}

.stop-name {
  color: colors(text, head);
  font-size: 24px;
}

.stop-remove {
  color: colors(text, base);
  position: absolute;
  right: 0;
  top: .5em;

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:hover {
    color: colors(text, danger);
  }

  &:focus {
    color: colors(text, base);
  }
}
