.stop {
  margin-bottom: 100px;
  border-bottom: 1px solid colors(borders, light);
}

.stop-name {
  color: colors(text, head);
  font-size: 24px;
}

.stop-remove {
  color: colors(text, base);
  position: absolute;
  right: 1em;
  top: 0;

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:hover {
    color: colors(text, danger);
  }

  &:focus {
    color: colors(text, base);
  }
}
