<div class="placesResults-Container">
    {{#places}}
    <h2>{{name}}</h2>
    <p>
      {{vicinity}}
    </p>
    {{/places}}
</div>

 {{!-- icon: 'https://maps.gstatic.com/mapfiles/place_api/icons/gas_station-71.png', --}}
