$app-colors: (
  app: (
    base: rgb(239, 243, 246)
  ),
  borders: (
    base: rgb(30,30,30)
  ),
  brand: (
    base: rgb(43, 193, 36),
    hover: rgb(93, 243, 86)
  ),
  button: (

  ),
  filterBar: (
    base: rgb(40, 40, 40)
  ),
  link: (
    base: rgb(139, 139, 139),
    hover: rgb(71, 71, 71)
  ),
  nav: (
    base: rgb(20, 20, 20)
  ),
  type: (
    base: rgb(101, 102, 102)
  )
);

@function colors($element, $level) {
  @return map-get(map-get($app-colors, $element), $level);
}
