$app-colors: (
  body: (
    base: rgb(0, 0, 0)
  ),
  borders: (
    base: rgb(30, 30, 30),
    place: rgb(50, 50, 50)
  ),
  brand: (
    base: rgb(43, 193, 36),
    hover: rgb(93, 243, 86)
  ),
  button: (

  ),
  filterBar: (
    base: rgb(20, 20, 20)
  ),
  link: (
    base: rgb(157, 157, 157),
    hover: rgb(255, 255, 255)
  ),
  nav: (
    base: rgb(0, 0, 0)
  ),
  places-results: (
    base: rgb(20, 20, 20)
  ),
  shadow: (
    base: rgb(20, 20, 20)
  ),
  type: (
    base: rgb(101, 102, 102)
  )
);

@function colors($element, $level) {
  @return map-get(map-get($app-colors, $element), $level);
}
