// Font-families
$font-family-body: 'Roboto', Arial, sans-serif;
$font-family-head: 'Raleway', Helvetica, Arial, sans-serif;

// Font-sizes
$font-size-base: 14px;
$font-size-brand: 32px;
$font-size-large: 18px;
$font-size-larger: 24px;
$font-size-small: 10px;
$font-size-smaller: 8px;


// Transitions
$transition-off: .5s;
$transition-on: .25s;
