<form id="placesSearch" method="get" action='http://localhost:3000/api/places'>
  <label for="placesSearch-location">Location</label>
  <input id="placesSearch-location" type="text" name="location"></input>
  <label for="placesSearch-radius">Radius</label>
  <input id="placesSearch-radius" type="number" min="1" name="radius"> miles</input
  <label for="placesSearch-type">Venue</label>
  <input id="placesSearch-type" type="text" name="type"></input>
  <!-- <input id="placeSearch-category" name="category_filter" type="hidden"></input> -->
  <input type="submit" value="Go"></input>
</form>
<section id="placesResults" class="placesResults-container">
  <div id="moreResults" class="moreResults-container"></div>
</section>
