<form name="criteriaForm" ng-submit="$ctrl.submitForm()" novalidate>
  <div class="form-group">
    <label>Zipcode</label>
    <input
      class="form-control"
      type="text"
      name="zipcode"
      ng-minlength="5"
      ng-maxlength="5"
      ng-trim="false"
      ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/"
      ng-model="$ctrl.criteria.zipcode"
      required>
      <p ng-show="criteriaForm.zipcode.$invalid" class="help-block">
        A valid zipcode is required.
      </p>
  </div>
  <div class="form-group">
    <label>Distance (miles)</label>
    <input
      class="form-control"
      type="number"
      name="radius"
      min="0"
      ng-model="$ctrl.criteria.radius">
  </div>

  <div class="form-group">
    <label>Type</label>
    <select
      ng-options="option.value for option in $ctrl.options track by option.type"
      ng-model="$ctrl.criteria.type">
      <option value="" selected="selected">Pick a type</option>
    </select>
  </div>
    <button
      type="submit"
      class="btn btn-primary"
      ng-disabled="criteriaForm.$invalid"
    >
      Submit
    </button>
</form>
