<div class="row">
  <div class="col-md-12 stop">

  <div class="col-md-3" ng-if="$ctrl.stop.photo">
    <img src="{{ $ctrl.stop.photo }}" alt="" class="img-responsive stop-img">
  </div>
  <div ng-class="{'col-md-9': $ctrl.stop.photo, 'col-md-12': !$ctrl.stop.photo}">
    <div class="col-md-8">
      <p class="stop-name">{{ $ctrl.stop.name }}</p>
    </div>
    <div class="col-md-8">
      <p>{{$ctrl.stop.vicinity}}</p>
    </div>
    <div class="col-md-8" ng-if="$ctrl.stop.opening_hours">
      <p ng-if="$ctrl.stop.opening_hours.open_now" class="text-success">
        Open
      </p>
      <p ng-if="!$ctrl.stop.opening_hours.open_now" class="text-danger">
        Closed
      </p>
    </div>

      <a class="stop-remove" href="" ng-click="$ctrl.removeStop()">
        X
      </a>

    </div>

  </div>
</div>
