<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        class="navbar-toggle"
        type="button"
        ng-init="navCollapsed = true"
        ng-click="navCollapsed = !navCollapsed"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="" class="navbar-brand" ng-click="$ctrl.navigate($ctrl.brand)">
        {{$ctrl.brand.title}}
      </a>
    </div>
    <div class="navbar-collapse" uib-collapse=navCollapsed auto-collapse>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <location-detail></location-detail>
        </li>
        <li>
          <a href="" ui-sref={{$ctrl.appNav.places.state}}>
            {{$ctrl.appNav.places.title}}
            <span class="badge">
              {{$ctrl.placeCount}}
            </span>
          </a>
        </li>
      </ul>
      <presets></presets>
    </div>
  </div>
</nav>
