<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid navbar__container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        ng-click="isNavCollapsed = !isNavCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar__brand" href="#" ui-sref="'{{$ctrl.brand.state}}'">
          {{$ctrl.brand.title}}
        </a>
    </div>
    <div class="collapse navbar-collapse navbar__collapse" uib-collapse="isNavCollapsed">
      <ul class="nav navbar-nav navbar-right navbar__right">
        <li class="userNav-sm" ng-repeat="navItem in $ctrl.userNav">
          <a href="#">{{navItem.title}}</a>
        </li>
        <li ng-repeat="navItem in $ctrl.appNav">
          <a href="#" ui-sref={{navItem.state}}>
            {{navItem.title}}
          </a>
        </li>
        <li class="userNav-md" ng-repeat="navItem in $ctrl.userNav">
          <a href="#">{{navItem.title}}</a>
        </li>
      </ul>
      <filter-bar filters="$ctrl.filters"></filter-bar>
    </div>
  </div>
</nav>
