<div class="row">
  <div class="place" ng-click="$ctrl.selectPlace()">
    <div class="col-md-10 col-md-offset-1 well place">
      <div class="col-md-3" ng-if="$ctrl.place.photo">
        <img src="{{$ctrl.place.photo}}" class="img-responsive" alt="">
      </div>
      <div ng-class="{'col-md-11': !$ctrl.place.photo, 'col-md-8': $ctrl.place.photo}">
        <div class="col-md-12">
          <p class="place-name">
            {{$ctrl.place.name}}
          </p>
        </div>
        <div class="col-md-12">
          <p class="place-vicinity">{{$ctrl.place.vicinity}}</p>
        </div>
        <div class="col-md-12" ng-if="$ctrl.place.opening_hours">
          <p ng-if="$ctrl.place.opening_hours.open_now" class="text-success">
            Open
          </p>
          <p ng-if="!$ctrl.place.opening_hours.open_now" class="text-danger">
            Closed
          </p>
        </div>
      </div>
      <div class="col-md-1 text-center">
        <div class="place-rating" ng-if="$ctrl.place.rating">
          <span class="text-primary">
            {{$ctrl.place.rating}} <br> out of <br> 5
          </span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="place-type">
          <span ng-repeat="type in $ctrl.place.types">
            {{type|underscoreReplace}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
