<section class="place col-xs-12 col-sm-10 col-sm-offset-1 col-md-10
                col-md-offset-1 col-lg-10 col-lg-offset-1"
                ng-class="{ 'place-new': !$ctrl.place.saved }"
                ng-click="$ctrl.selectPlace()">
  <div class="place-saved" ng-click="$ctrl.selectPlace()"
    ng-if="$ctrl.place.saved">
    X
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-if="$ctrl.place.photo">
    <div class="place-image--wrapper">
      <img src="{{$ctrl.place.photo}}" class="place-image img-responsive"
        alt="A picture of a point of interest.">
    </div>
  </div><!--end layout for place-image-->
  <div ng-class="{
    'col-xs-12 col-sm-8 col-md-8 col-lg-8': $ctrl.place.photo,
    'col-xs-12 col-sm-12 col-md-12 col-lg-12': !$ctrl.place.photo
    }">
    <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3 class="place-name">
        {{$ctrl.place.name}}
      </h3>
    </header>
    <address class="place-vicinity col-xs-12 col-sm-12 col-md-12 col-lg-12">
      {{$ctrl.place.vicinity}}
    </address>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"
      ng-if="!$ctrl.place.opening_hours">
      <div class="place-hours text-warning">
        Check Availability
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"
      ng-if="$ctrl.place.opening_hours">
      <div class="place-hours text-success"
        ng-if="$ctrl.place.opening_hours.open_now">
        Open
      </div>
      <div class="place-hours text-danger"
        ng-if="!$ctrl.place.opening_hours.open_now">
        Closed
      </div>
    </div><!--end layout for place.opening_hours-->
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4
                col-lg-4 col-lg-offset-4">
      <div class="place-rating text-primary" ng-if="$ctrl.place.rating">
        {{$ctrl.place.rating}} out of 5
      </div>
    </div><!--end layout for .place-rating-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="place-type">
        <li ng-repeat="type in $ctrl.place.types">
          {{type|underscoreReplace}}
        </li>
      </ul>
    </div><!--end .place-type-->
  </div><!--end layout for place information-->
</section><!--end .place-->
