<!--use ng-if to determine if sidebar is docked and adjust widths accordingly  -->

<div class="col-md-12 text-center">
  <h2>Happening near you...</h2>
</div>

<div class="place col-md-8 col-md-offset-2 well" ng-repeat="place in $ctrl.places">

  <!-- <img class="place-image col-md-1"src="{{ place.icon }}" /> -->

  <div class="place-text text-center">
    <h3 class="text-center">{{ place.name }}</h3>
    <p class="text-center">{{ place.place_id }}</p>
    <a href="" ng-click="explore.addToSchedule(place)"><button class="btn-small btn-success">Info</button></a>
  </div>

</div>
