<div class="search-wrap col-md-3 col-md-offset-6">
  <form
    class="search"
    role="form"
    name="explore.searchForm"
    ng-submit="explore.submit(explore.search, explore.searchForm.$valid)"
    novalidate
  >
    <div class="text-center" ng-if="explore.error" role="alert">
      <p>{{explore.error}}</p>
    </div>

    <fieldset>
      <input
        type="text"
        ng-model="explore.search.location"
        name="location"
        placeholder="New York, NY"
        required
      >
      <input
        type="number"
        ng-model="explore.search.radius"
        name="radius"
        placeholder="5"
        required
      >
      <input
        type="text"
        ng-model="explore.search.type"
        name="type"
        placeholder="Bank"
        required
      >

      <button type="submit">Submit</button>
    </fieldset>

  </form>
</div>
