body {
  background-color: rgb(228, 224, 235);
}

.navbar-right a {
  display: inline-block;
  padding-left: 2em;
  padding-top: 1em;
}

.cta {
  margin-top: 10%;
  margin-bottom: 10%;
}

.cta-header {
  padding: 1em 0;
}

.about {
  margin-top: 10%;
  margin-bottom: 10%;
}

.about-section {
  margin-top: 10%;
  margin-bottom: 10%;
}
